<!-- Python's 'Flask' module uses the 'Jinja' web template engine to manage its template inheritance. -->

<!-- 'Index.html' is an extension of 'Base.html' -->
{% extends 'base.html' %}

<!-- Begin head -->
{% block head %}
<title>New Account Page</title>
{% endblock %}
{% block body %}
    <h1>Create a account</h1>

    <!-- Creating a form  with jinja formatting-->
    <form action="/create_account" method="post">
        
        <!--Uses the SECRET_KEY to lock this page behind said key, to prevent CSRF attacks.-->
        {{ form.hidden_tag() }}

        <!--Elements created through jinja-->
        {{ form.username(placeholder="Username") }}
        {{ form.email(placeholder="Email") }}
        {{ form.phone(placeholder="Phone") }}
        {{ form.password(type="password", placeholder="Password") }}
        {% for error in form.password.errors %}
        {% endfor %}
        {{ form.submit(id="submitButton") }}

    </form>
    <p>Already have an account? <a href="{{ url_for('log_in') }}">Sign in</a></p>
    <h4>Password requirements:</h4>
    <h4>Password must be 9 characters</h4>
    <h4>Needs at least 1 capatalized character</h4>
    <h4>Needs at least 1 number</h4>
    <h4>Needs at least 1 special character</h4>
    <!-- Handling flash messages -->
    {% for message in get_flashed_messages() %}
    <div class="alert" role="alert" style="text-align: center; color: black; font-size: 25px;">{{ message }}</div>
    {% endfor %}
{% endblock %}