
{% extends 'base.html' %}

{% block body %}

	<main>
		<h1>Capstone Project: E-CAT: Enhanced Cyber AI/ML Tools with Ensemble/Boosting based Classifications  </h1>
		<p>We’re a group of passionate gamers on a mission to share our love for video games with everyone! Our goal is to provide a diverse library of games across popular consoles,
			 making it easy for everyone to enjoy quality gaming experiences at affordable prices. Whether you’re revisiting classics or exploring the latest releases,
			  we’re here to help you play more for less.</p>
	</main>
	
{% endblock %}